@import '../../utils/variables/variables.scss';

.graphCircle-wrapper {
    display: flex;
    align-items: flex-end;
    height: 263px;
    width: 30%;
    background: $fith-color;
    position: relative;
    border-radius: 8px;
}