
.graph-group {
    width: 60%; 
    height: 40%;
    position: relative;
    background: #FBFBFB;
    border-radius: 16px;
    padding: 30px;

    &__title {
        position: absolute;
        top: 30px;
        left:30px;
        margin: 0;
        font-size: 0.9375rem;
        font-weight: 600;
    }
}