
.graph-group {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 15rem;
    position: relative;
    background: #be7878;
    border-radius: 16px;
    
    &__title {
        position: absolute;
        top: 30px;
        left:30px;
        margin: 0;
        font-size: 0.9375rem;
        font-weight: 600;
    }
}
