@import '../../utils/variables/variables.scss';

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    width: 80%;
    margin-left: auto;    
    margin-right: auto;

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__links a {
        color: $third-color;
        text-decoration:underline;
    }
}
