$main-color : #000000;
$sec-color: #FFFF;
$third-color: #FF0101;
$fourth-color: #74798C;
$fith-color: #FBFBFB;
$sixth-color: #282D30;
$med-min-width: 768px;
$larg-min-width: 1024px;
$xtra-min-width: 1440px;